@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"), url('./assets/fonts/Roboto-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url('./assets/fonts/Roboto-Bold.ttf') format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: local("Roboto-Black"), url('./assets/fonts/Roboto-Black.ttf') format("truetype");
}
*{
  color: #00465B;
}
.btn-primary:hover {
  color: #fff;
  background-color: #00465B;
  border-color: #00465B;
}

  
  /*
   * Custom translucent site header
   */
   .row{
     margin: 0;
   }

   header{
    background-color: #f7f7f7;
   }
   nav{
     width: 100%;
     margin-left: -13rem;
   }

   #mobileMenu {
    display: none;
  }
  
  .site-header {
    width: 100%;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    height: 10vh;
  }
  .site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
    padding-right: 0.5rem;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  .redes{
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
  }
  .img-redes{
    height: 5.5vh;
    width: auto;
  }
  
   .main{
    width: 100%;
    background: url('./assets/images/Ilustracion-Horizontales-16.svg'), #00cfd2 ;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto;
    height: 90vh;
   }
   .left{
    padding-right: 3rem;
   }
   .secNavbar{
    margin-left: -4rem;
   }
   .img-logo{
    height: 50vh;
    width: auto;
  }
  .descarga{
    background-color: white;
    text-align: center;
    border-radius: 35px 0 0 35px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1vh;
    font-size: 0.8rem;
    margin-left: auto;
    width: 6.5rem;
  }

  .seccion{
    color: #fff;
    text-decoration: none;
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    height: 5vh;
  }
  .btnIcon{
    height: 1.5rem;
    margin-right: 0.5rem;
  }
  .btnIconMobile{
    height: 20vw;
  }
  .android{
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    padding-right: 2vh;
    padding-left: 2vh;
    background-color: #008186;
    padding-bottom: 1.5vh;
    padding-top: 0.6vh;
    border-radius: 35px 0 0 35px;
    width: 6.5rem;
    margin-left: auto;
  }
  .iphone{
    padding-top: 0.5vh;
    width: 6rem;
    padding-left: 2vh;
    margin-left: auto;
  }
.selector2{
  margin-left: 2rem;
}
  label{
    font-size: 1.4rem;
  }
  .form-control::-ms-expand {
    display: none;
  }
  .form-control {
    border: 1px solid #00465B;
    border-radius: 0.5rem; 
    appearance: none;
    color: gray;
    font-family: 'Roboto-Regular';
    font-size: 1.4rem;
    background-image: url("./assets/images/arrow.png");
      background-position: 99% 58%;
      background-repeat: no-repeat;
      background-size: 1.2rem;
    
  }
  
  .descarga, label{
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  }
  .btnIngreso{
    margin-top: 2rem;
    border-radius: 35px;
    background-color: #FF7602;
    border-color: #FF7602;
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    padding-top: 0.35rem !important;
    padding-bottom: 0.35rem !important;
    font-size: 1.35rem;
    min-width: 240px;
  }

  .btnIngreso2{
    margin-top: 3rem;
    border-radius: 35px;
    background-color: #FF7602;
    border-color: #FF7602;
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
    font-size: 1.8rem;
    min-width: 240px;
  } 

  .btnIngresoMobile{
    margin-top: 2.5rem;
    border-radius: 90px;
    background-color: #FF7602;
    border-color: #FF7602;
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    font-size: 1.5rem;
    min-width: 30vw;
    min-height: 30vw;
    height: 30vw;
    width: 30vw;
  }
  
  .main2{
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: auto;
   }

   svg { 
    display: inline-block; 
    top: 0; 
    left: 0; 
    z-index: -1; 
} 
.wavy{
  display: inline-block; 
            width: 100%; 
            vertical-align: middle; 
            overflow: hidden; 
            top: 0; 
            left: 0;
            height: 30vh;
            margin-top: -4rem;
}
.main2 .backgray img.iconWalk{
margin-top: -6rem;
}

.wavy2{
  display: inline-block; 
            width: 100%; 
            vertical-align: middle; 
            overflow: hidden; 
            top: 0; 
            left: 0;
            height: 30vh;
            margin-top: -5rem;
    z-index: -1;
            
}

.wavy2 .iconWalk {
  margin-top: -2rem;
}
 
  .backgray{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f7f7f7;
  }
  #servicios{
    margin-top: -4rem;
  }


   span{
     color: #FF7602;
   }

   .text-titulo{
    font-family: "Roboto-bold", Arial, Helvetica, sans-serif;
    font-size: 2.9rem;
    word-spacing: 2px;
    line-height: 3.4rem;
   }
   .naranja{
    color:#FF7602;
   }

   img.slick-arrow {
    height: 2.5rem;
    }

    img.slideImg {
      height: 80px;
  }
  .slideText{
    font-family: "Roboto-Black", Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0px;
    line-height: 1.3rem;
    word-spacing: 1.5px;
    width: 10rem;

  }
  #acceder{
    color:white;
  }

   .main3{
    color:white;
    width: 100%;
    background: url('./assets/images/fondo-horizontales.svg'), #00465B ;
    background-color: #00465B;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
   }
   .main3 .btnIngreso2:hover {
    color: #FF7602;
    background-color: white;
    border-color: white;
   }
   .main4{
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: auto;
   }
   
   .iconWalk{
    height: 8vh;
   }

   .video{
    height: 95vh;
    width: 100%;
   }

   .store{
     height: 60%;
   }
   .store:hover{
    height: 59.4%;
  }
   img.store {
    border: none;
    border-radius: 50px;
    padding: 8px 25px 8px 25px;
}
img.store:hover {
  border: black 3px dotted;
  border-radius: 50px;
  padding: 6px 23px 6px 23px;
}

   .destino{
      border-left: 3px dotted orange;
  
   }

  .text-aliados {
    font-family: "Roboto-Black", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    display: block;
  }
   .text-movil{
    font-family: "Roboto-regular", Arial, Helvetica, sans-serif;
    font-size: 1.45rem;
    letter-spacing: -0.3px;
    line-height: 1.9rem;
    word-spacing: 5.5px;
  }
  .text-movil4{
    font-family: "Roboto-Black", Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    letter-spacing: -0.3px;
    line-height: 1.9rem;
    word-spacing: 5.5px;
  }
  .text-movil5{
    font-family: "Roboto-regular", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    letter-spacing: -0.3px;
    line-height: 1.9rem;
    word-spacing: 5.5px;
  }

  
  .text-aliados::after {
    content: " ";
    width: 17%;
    height: 0.3em;
    margin-top: 1rem;
    background-color: #00cfd2;
    top: 3.5em;
    z-index: -1;
    margin-left: 0;
    display: block;
  }

  footer{
    background-color: #f7f7f7;
  }
  
   
  .footer-img-nrc{
    width: 17rem;
    height: auto;
    margin-left: 2rem;
  }

  .logosRight{
    margin-left: -3rem;
  }

  .logo1{
    margin-left: -1rem;
  }

  .logo2{
    margin-right: 1rem;
  }
  
  .footer-img{
    height: 8rem;
    width: auto;
  }
   .footer-img2{
    height: 7rem;
    padding-top: 3.5vh;
    width: auto;
   }
   .footer-img3{
    height: 5.5rem;
    padding-top: 3.5vh;
    width: auto;
   }

  
  .flex-equal > * {
    flex: 1;
  }

  @media (max-width: 320px) and (min-width: 1px){
    .btnIconMobile {
      height: 15vw;
  }
    .slideText {
      font-size: 0.7rem;
      width: 6rem;
    }
    .btnIngresoMobile {
      font-size: 0.8rem !important;
      word-spacing: 0px;
  }
  }

  

  @media (max-width: 380px) and (min-width: 321px){
    label{
      font-size: 1rem;
    }
    .slideText {
      font-size: 0.9rem;
      width: 8rem;
  }
  .btnIngresoMobile {
    font-size:1.1rem !important;
    word-spacing: 0px;
}
  
  
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }

  @media (max-width: 767px) and (min-width: 480px) {
    .btnIngresoMobile {
        font-size: 1.6rem !important;
    }
  }

  @media (max-width: 767px) {
    nav{
      width: 100% !important;
    }
    #mobileMenu {
      display: none;
    }
    .destino{
      margin-top: 2vh;
    }
    .img-menu{
      width: 2.5rem;
      height: auto;
    }
    .img-menuMobile{
      color:  #00cfd2;
      width: 4rem;
      height: auto;
    }
    .imgMenu{
      height: 3rem;
    }
    .textMenu{
      font-family: "Roboto-Black", Arial, Helvetica, sans-serif;
      font-size: 1.3rem;
      letter-spacing: -0.3px;
      line-height: 1.9rem;
      word-spacing: 5.5px;
    }
    .sectionMobile{
      border-bottom: 1px solid #00cfd2;
    }
    .main{
      width: 100%;
      background: url('./assets/images/ilustracion-verticales-33.svg'), #00cfd2 ;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 100% auto;
      height: auto;
      padding-bottom: 45vh;
     }
     .left {
      padding-right: calc(var(--bs-gutter-x)/ 2);
  }
     .btnIngreso{
      margin-bottom: 40vh;
    }
    .btnIconMobile {
      height: 10vw;
  }
  .btnIngreso2{
    margin-top: 1.5rem;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    font-size: 1.4rem;
    min-width: 200px;
  }
  .btnIngresoMobile {
    font-size: 1.1rem;
    word-spacing: 2px;
}
.video {
  height: 30vh;
}
.text-titulo{
  font-size: 1.7rem;
    word-spacing: 0px;
    line-height: 2rem;
}
.text-movil{
  font-size: 1.25rem;
    letter-spacing: -0.5px;
    line-height: 1.6rem;
    word-spacing: 5.5px;
}
   .aplicacion{
      flex-direction: column;
      display: flex;
      /* justify-content: center; */
      align-items: center;
  }
  .aliados{
    align-items: center;
  }
  .main2{
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: auto;
   }
  .text-aliados{
    text-align: center;
  }
  .img-logo{
    height: auto;
    width: 100%;

}


.selector2 {
  margin-left: 0rem;
  margin-top: 2rem;
}
.main3{
  background: url('./assets/images/fondo-verticales.svg'), #00465B ;
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .store {
  height: 100%;
}
.form-control {
  font-size: 1rem;
}
.destino {
  border-left: 0px dotted orange;
  border-top: 3px dotted orange;
  padding-top: 6vh;
    margin-top: 6vh;
}
.footer-img{
  height: 12rem !important;
  width: auto !important;

}
.footer-img2{
  height: 8rem !important;
  width: auto !important;

}

.text-aliados::after {
  height: 0;
}
    
  }

  @media (max-width: 1022px) and (min-width: 768px) {
    .img-logo {
      height: 30vh;
  }
    .seccion {
      font-size: 0.7rem;
  }
  .secNavbar {
    margin-left: 0rem;
}
.btnIngreso {
  font-size: 0.6rem;
  min-width: 130px;
}
.text-movil {
  font-size: 1.1rem;
}
    label{
      font-size: 1.1rem;
    }
  
  }

  @media (max-width: 1119px) and (min-width: 1023px){
    .img-logo {
      height: 35vh;
  }
  .text-movil {
    font-size: 1.25rem;
  }
.seccion {
    font-size: 1rem;
}
.btnIngreso {
  font-size: 1rem;
  min-width: 180px;
}
}

  @media (max-width: 1290px) {
    .footer-img{
      height: 7rem;
      width: auto;
    }
    
     .footer-img2{
      height: 6rem;
      padding-top: 3.5vh;
      width: auto;
     }
  }

  @media (max-width: 1120px) and (min-width: 1219px) {

    .seccion {
      font-size: 1rem;
  }
  .img-logo {
    height: 35vh;
}
.btnIngreso {
  font-size: 1rem;
  min-width: 170px;
}
.text-movil {
  font-size: 1.2rem;
}
    .footer-img{
      height: 6rem;
      width: auto;
    }
     .footer-img2{
      height: 5rem;
      padding-top: 3.5vh;
      width: auto;
     }
  }